# Lines starting with '#' are considered comments.
# Ignore (generated) class files,
*.class
.classpath
.settings
.project
bin
Testium.jar
/build
/target
/pom.xml.asc
.classpath
.DS_Store
release.properties
